
.clearfix:after { visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0; }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

body { margin: 0; padding: 0; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

p { margin: 0 0 20px; }

a { color: #333; text-decoration: none; }

img { width: 100%; }

ul { margin: 0; padding: 0; list-style-type: none; }
